<h2 style="text-align:center">Recuperar la contraseña</h2>

<div style="text-align:center">
  <form class="example-form ">
      <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="ejemplo@google.com" type="email" autocomplete="off" [(ngModel)]="email" [ngModelOptions]="{standalone:true}">
        </mat-form-field>
  </form>
  <button mat-flat-button color="accent" (click)="Recover()">
    <mat-icon>mail</mat-icon>
    Enviar correo</button>
</div>

