<h1 style="text-align:center">Descargar aplicación</h1>

<div style="text-align:center">
    <button style="background-color:green" mat-raised-button color="accent" (click)="DownloadStable()">
        <mat-icon>android</mat-icon>
      Descargar versión estable</button>
      <p><b>Build 0.15</b></p>
      <p>Última actualización: 25/03/2018</p>


      <button style="background-color:red"  mat-raised-button color="accent" (click)="DownloadBeta()">
          <mat-icon>android</mat-icon>
        Descargar versión beta</button>
        <p><b>Beta 0.13</b></p>
        <p>Última actualización: 18/03/2018</p>
</div>

