<h1 style="text-align:center">Iniciar sesión</h1>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Correo electrónico" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Contraseña" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}">
    </mat-form-field>

    <div style="text-align:center">
        <button mat-raised-button color="accent" (click)="Login()"><mat-icon aria-hidden="false" aria-label="Example home icon">check</mat-icon>
          Acceder</button>
    </div>

    <p style="text-align:center">Ó también</p>
    
    <div style="text-align:center">
        <button mat-raised-button style="background-color:rgb(168, 36, 36)" color="primary" (click)="Google()"><mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
          Acceder con Google</button>
    </div>


  </form>